<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit <%= @fig.name%></title>
  </head>
  <body>
    <form method="POST" action='/figures/<%=@fig.id%>/edit'>

      <h2>Edit <%= @fig.name%>:</h2>
      <p>
        <label for="figure[name]">Figure Name: </label>
        <input id="figure_name" type="text" name="figure[name]" value="<%= @fig.name%>">
      </p>
      <p>Update landmarks: </p>
      <% Landmark.all.each do |l| %>
          <% check = @fig.landmarks.include?(l) ? "checked" : "" %>

          <label for="figure[landmark_ids][]"><%= l.name %></label>
          <input id="landmark_<%=l.id%>" type="checkbox" name="figure[landmark_ids][]" value="<%= l.id %>" <%= check %>>
      <% end %>
      <p>Or create a new landmark: </p>
      <p>
        <label for="landmark[name]">Figure Landmark: </label>
        <input id="new_landmark" type="text" name="landmark[name]">
        <label for="landmark[year_completed]">Year Completed: </label>
        <input type="text" name="landmark[year_completed]">
      </p>
      <p>Updates titles: </p>
      <% Title.all.each do |t| %>
          <% check = @fig.titles.include?(t) ? "checked" : "" %>

          <label for="figure[title_ids]"><%= t.name %></label>
          <input id="title_<%=t.id%>"type="checkbox" name="figure[title_ids][]" value="<%= t.id %>" <%= check %>>
      <% end %>
      <p>Or create a new title: </p>
      <p>
        <label for="title[name]">Figure Title: </label>
        <input id="new_title" type="text" name="title[name]">
      </p>

      <!-- <input id="hidden" type='hidden' name="_method" value="PATCH"> -->
      <input type="submit" name="submit" value="Edit Figure">
    </form>
  </body>
</html>
